.footer{
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(215, 202, 175);
}


.footerItem{
    width: 100%;
    text-decoration: none;
    color: rgb(28, 185, 112);
    flex-direction: row;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.parrFooter{
    color: rgb(28, 185, 112);
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}


